body {
    transition: all 1s;
}
 
.bodyfadeout {
    opacity: 0;
}
 
button {
    width: 40px;
    height: 40px;
    background-color: coral;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
 
#cover {
    width: 0;
    height: 100vh;
    background-color: coral;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
 
.anime5 {
    animation: animemove5 1.5s linear forwards;
}
 
@keyframes animemove5 {
    0% {}
    100% {
	width: 100vw;
    }
}